<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
        <title>
            {% block title %} gxblog {% endblock %}
        </title>
    {% endblock %}

    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {% block body %} {% endblock %} 
</body>

{% block script %}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.3/esm/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>

<style type="text/css">

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

</style>
{% endblock %}

</html>